/*
Week 11 Tic Tac Toe Project    
Using Frank's code for the flexbox grid CSS. Tried to do via bootstrap and was very messy, should've gone the CSS
    route to start...
    https://replit.com/@stepanski/CSS-Tic-Tac-Toe-Week-2#index.html
    


------------
------------

   Using CSS Grid to layout our board:
   https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout

*/

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin:  auto; /* centering grid */
}

/*
   Using flexbox to center content:
   https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container
*/
.cell {
    display: flex;
    align-items: center; /* vertical center - (cross axis) */
    justify-content: center; /* horizontal center - (main axis) */
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    font-size: 60px;
}